.title {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient( 110deg, #b703f3, #44f603);
    background-size: 500px 100%;
    background-clip: text;
  }

.title_footer {
    font-family: "Monomaniac One", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient( 110deg, #b703f3, #44f603);
    background-size: 500px 100%;
    background-clip: text;
  }
  
.blue {
    background-color:  #b703f3;
}

.blue:hover {
    background-color:  #44f603;
}

.green {
    background-color: rgb(125, 221, 44);
}

.green:hover {
    background-color: rgb(125, 221, 44, 0.5 );
}

.card_transparent {
    background-color: rgb(255,255,255,0.2);

}

.justify {
  text-align: justify;  
}

.box_small {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.home-link {
    color: black; 
    text-decoration: none; 
}

.carousel {
  margin-bottom: 10px !important;
}

.about-container {
  margin-top: 0 !important;
}
